<li [ngClass]="{ completed: todo.completed, editing: editMode }">
  <div *ngIf="!editMode; else editing" class="view">
    <input class="toggle" type="checkbox" [checked]="todo.completed" (change)="handleToggle()" />
    <label (dblclick)="beginEdit()">{{ todo.title }}</label>
    <button (click)="handleDestroy()" class="destroy"></button>
  </div>
  <ng-template #editing>
    <input
      class="edit"
      set-focused
      #fld
      [value]="todo.title"
      (keyup.enter)="commitEdit(fld.value)"
      (keyup.esc)="rollbackEdit()"
      (blur)="commitEdit(fld.value)"
    />
  </ng-template>
</li>
